# You can make functions or just use loops to solve the exercises

# Q1: Leap year
    - check if the input year is a leap year or not
    - leap year is exactly divisible by 4 except for century years (years ending with 00)
    - Century year is a leap year if and only if it's perfectly divisible by 400

In [0]:
year = int(input("type the year: "))

if ((year % 4 == 0 and year % 100 != 0) or year % 400 == 0):
    print(year, "is a leap year")
else :
    print(year, "is not a leap year")

#1994, 2000, 2004, 1904

type the year:  1994

1994 is not a leap year

# Q2: Get the center letter(s) of a string
    - when input the string, return the center letter
        ex: if string 'weekday', print 'k'
    - if the number of string is even, print two centered letters
        ex: if string 'function', print 'ct'

In [0]:
str = input("type the string: ")

length = len(str)

if length%2 == 1 : # odd
    ch1 = str[length//2]  
    print("my center alphabet is ", ch1)
    
else:             # even
    ch1 = str[length//2-1]
    ch2 = str[length//2]
    print(f"my center alphabet is {ch1}{ch2}")

type the string: function
my center alphabet is ct

# Q3: Calculate the wages
    - ask the working hours per day & wages per hour
    - assume 5 work days in a week
    - assume if more than 40 hrs per week, need to pay 1.5 of the wage
    - calculate the total wages per week

In [1]:
workinghr = int(input('working hours: '))
paymenthr = int(input('wages per hour: '))

workdays_per_week = 5
wage_per_week = paymenthr * workinghr * workdays_per_week

if workinghr*5 >= 40:
    print('total wages per week: ', wage_per_week * 1.5)
else:
    print('total wages per week: ', wage_per_week)

working hours: 8
wages per hour: 20
total wages per week:  1200.0

# Q4: Factorial
    - factorial using the loop
    - try both for loop and while loop
    - n! = 1*2*3*...(n-1)*n
    - hint: use range() function

In [2]:
num = int(input("number:"))

result = 1
for a in range(1, num+1):
    result = result * a

print(result)

number:10
3628800

In [3]:
# Answer using recursion
# https://en.wikipedia.org/wiki/Recursion

def factorial(n): 
    if n < 1:
        return 1
    else:
        result = n* factorial(n-1)
        # uncomment the line below to see the output at each step
        # print(result)
        return result

factorial(5)

120

In [5]:
# for
fact = 1
n = int(input("number: "))

for i in range(1, n+1):
    fact = fact * i

print(f"{n}! is {fact}")

number: 5
5! is 120

In [8]:
# while
num = int(input("number: "))
n = num
factorial = 1
while n > 0:
    factorial = factorial * n
    n = n - 1

print(f"{num}! is {fact}")

number: 5
5! is 120

# Q5: Bank account number
    - when you receive the bank account number for example '312-02-1234567' from a user, remove '-' then return the account number

In [0]:
raw = "312-02-1234567"
processed = [c for c in raw if c != "-"]
print(processed)
processed2 = "".join(processed)
print(processed2)

['3', '1', '2', '0', '2', '1', '2', '3', '4', '5', '6', '7']
312021234567

In [0]:
raw = "312-02-1234567"
processed = ""

for c in raw:
    if c != "-":
        processed = processed + c
        
print(processed)

312021234567

# Q6 - Alphabet, number, space
    - when you have an input of string, count the number of alphabet, number, space and print

In [12]:
data = input('type any string that contains alphabet, number and space: ')

letters_count = 0
numbers_count = 0
spaces_count = 0

for letter in data:
    if letter.isalpha():
        letters_count = letters_count + 1
    elif letter.isdigit():
        numbers_count = numbers_count + 1
    elif letter == " ":
        spaces_count = spaces_count + 1
    else:
        pass

print(f"There are {letters_count} letters, {numbers_count} digits and {spaces_count} spaces in the string '{data}'")

type any string that contains alphabet, number and space: abc XYZ 123
There are 6 letters, 3 digits and 2 spaces in the string 'abc XYZ 123'