# You can make functions or just use loops to solve the exercises

# Q1: Leap year
    - check if the input year is a leap year or not
    - leap year is exactly divisible by 4 except for century years (years ending with 00)
    - Century year is a leap year if and only if it's perfectly divisible by 400

In [0]:
# try for 1994, 2000, 2004, 1904
year = int(input("type the year: "))

# Q2: Get the center letter(s) of a string
    - when input the string, return the center letter
        ex: if string 'weekday', print 'k'
    - if the number of string is even, print two centered letters
        ex: if string 'function', print 'ct'

In [0]:
str = input("type the string: ")

# Q3: Calculate the wages
    - ask the working hours & wages per hour
    - assume if more than 40 hrs per week, need to pay 1.5 of the wage
    - calculate the total wages per week

In [0]:
workinghr = int(input('working hours: '))
paymenthr = int(input('wages per hour: '))

# Q4: Factorial
    - factorial using the loop
    - try both for loop and while loop
    - n! = 1*2*3*...(n-1)*n
    - hint: use range() function

In [0]:
# for
num = int(input('number: '))

In [0]:
# while
num = int(input('number: '))

# Q5: Bank account number
    - when you receive the bank account number for example '312-02-1234567' from a user, remove '-' then return the account number

In [0]:
raw = "312-02-1234567"
processed = ""

# Q6 - Alphabet, number, space
    - when you have an input of string, count the number of alphabet, number, space and print

In [0]:
data = input('type any string that contains alphabet, number and space')